/* =============================la barre de navigation================== */

body{
    /* background-color: rgb(197, 60, 60); */
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);

}
a {
    text-decoration: none;
}

*{
    color: rgb(0, 0, 0);
    /* font-size: 1.5rem; */
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    position: relative;
    margin-top: -10px;
    display: flex;
    background-color: blue;
    position: sticky;
    top: 0;
    z-index: 100;
    flex:1;
    /* margin-bottom: 90px; */
}

h1{
    color: white;
    position: relative;
}
h1::before,
h1::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
h1::before{
    background: blue;
    animation: typing 2s  steps(20) forwards ;
}
@keyframes typing{
    to {left:100%}
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 26px;
    font-size: 1rem;
}
nav {
    flex: 1;
    align-items: center;
    display: flex;
    position: absolute;
    right: 0;

}

nav div:checked ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 26px;
    font-size: 1rem;
}
nav ul li a{
    text-decoration: none;
    color:white;
}

nav a:hover{
    border-bottom: 4px white solid;
}
/*====================================== La page d'acceuil =======================*/
                        /*====== animation du texte========== */
   
.contenaire{
    width: 100vw;
    /* margin: 0 auto; */
    /* background-color: green; */
}

.main{
    width: 80%;
    margin: 0 auto;
    /* background-color: white; */
}
col2 img{
    width: 100%;
}
 h2{       
        position: relative;
        width: max-content;
        text-decoration: underline;
    }
    .col2text h2{
        text-decoration: none;
    }
    .btn{
        background-color:blue;
        color: white;
        /* text-decoration: none; */
        border: 2px solid transparent;
        font-weight: bold;
        border-radius: 30px;
        transition: transform .4s; 
        margin-left: 15px;
        width: max-content;
    }
    .btn:hover{
        transform: scale(1.1);
    }
    /* .master{
        background-image: url(image/monitor-gfaf2e94a2_1920.jpg);
    } */
    .bouton{
        display: flex;
        justify-content: space-between;
        width: 100%;
    
    }
    .col2text .btn{
        padding: 10px auto;
    }
    h2::before,
    h2::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    h2::before{
        background: white;
        animation: typing 5s 3s steps(20) forwards ;
    }
    
    
    .contain{
        display: flex;
        margin: 20px auto;
        padding-bottom: 30px;
        width: 100%;
    }
    .col2{
        flex-basis: 50%;
        margin: 10px;
    }
    .col2 img{
        width: 100%;
        height: 100%;
        
    }
    /* .col2text{
        padding-top: 20% ;
        line-height: 40px;
        word-spacing: 6px;
    } */
   
    .nom{
        display: block;
        color: blue;
    }
    /* ==========================================About me================================================ */
    .propos{
        display: flex;
        flex-direction: column;
    }
            /* ======================skills==================== */
    .skill{
        border: solid;
        /* margin-left: 20px; */
        border-radius: 20px;
        height: max-content;
        padding-top: 50px;
        padding-bottom: 20px;
        box-shadow: 6px 6px 5px;
        margin-top: 25%;
    }
    .skill .line{
        margin-bottom: 65px;

    }
    .skill .info{
        display: flex;
        justify-content: space-between;
    }
    .skill .info span{
        font-weight: 600;
        font-size: 20px;
    }
    .bar{
        background-color: rgb(235, 179, 75);
        height: 15px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow:5px 5px 5px black ;

        margin: 5px 15px;
        position: relative;
    }
    .skill .bar::before{
        content: "";
        position: absolute;
        background-color: blue;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .skill .cssbar::before {
        width: 60%;
    }
    .skill .gitbar::before {
        width: 60%;
    }
    .skill .responsivebar::before {
        width: 60%;
    }
    .skill .uibar::before {
        width: 70%;
    }
    .skill .htmlbar::before {
        width: 80%;
    }
    /* ==========================================Mes Projets============================= */
    .containpro{
        display: flex;
        flex-direction: column;
        border: solid;
        width: max-content;
    }
    .col3{
        flex-basis: 30%;
        /* height: 800px; */
       

    }
    /* .pro2 img{
        width: 100%;
        height: 100%;
    } */
    .col3 .pro_img:hover{
        transform: scale(1.2);
    }
    .col3 a{
        border: solid 1px black;
        padding: 5px;
        border-radius: 30px;
        text-align: center;
        background-color: blue;
        color: white;
        bottom: 5%;
        margin: 10px auto;
    }
    .col3 a:hover{
        background-color:transparent ;
        transform:scale(1.4);
        color: black;
    }
    .col3 div{
        height: 50%;
        border-radius: 10px;
        margin-bottom: 10px;
        
    }
    p{
        text-align: center;
    }
    /* ==============================================contact===================================== */
    .social{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .social a i{
        color: white;
    }
    .contact-me{
        display: flex;
        flex-direction: column;
    }
    .contact-me p, .contact-me div{
        margin: 10px auto;
    }
    .social a{
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        background:  blue;
        border-radius: 50%;
        margin: 22px 10px;
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
    .social a:hover{
        transform: scale(1.3);
        transition: .3s;
    }
    /* =======================================footer============================= */
    footer{
        width: 100vw;
        height: 80px;
        background: blue;
        color: white;
        text-align: center;
        padding-top: 30px;
        
    }
    /* =============================================responsive====================================== */

   @media screen and (max-width:287px) {
        *{
            font-size: 1rem;
            box-sizing: border-box;
        }
        .bouton{
            display: flex;
            flex-direction: column;
            /* margin:5px auto; */
        }
        .contain{
            flex-wrap: wrap;
            width: 100%;
        }
        .btn {
            margin: 10px;
           padding: 3px;
       }
       /* nav ul{
           display: none;
       } */
       .nom span{
        display: block;
    }
    header{
        height: 50px;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 20px;
        right: -26px;
        width: max-content;
        background-color: blue;
    }
    nav {
        position: relative;

    }
    }
    @media  screen and (min-width:288px) and (max-width:460px) {
        *{
            font-size: 1rem;
            box-sizing: border-box;
        }
        header{
            height: 50px;
        }
        nav ul{
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 20px;
            right: -26px;
            width: max-content;
            background-color:blue;
            /* justify-content: space-between; */
        }
       
        nav {
            position: relative;

        }
        
        
        .contain{
            flex-wrap: wrap;
            width: 100%;
        }
        .col2,.col3{
            flex-basis: 100%;
        }
        .col3{
            display: flex;
            flex-direction: column;
        }
        .col3 div{
            flex-basis: 50%;

        }
        .bouton{
            margin: 5px 20%;
            width: max-content;
        }
        .btn {
             margin-left: 3px;
            padding: 3px;
            /* height: 10px; */
        }
        
    }
    @media screen and (min-width:700px) {
        *{
            font-size: 1.5rem;
        }
        nav{
            flex: 1;
        }

        nav ul li a{
            font-size: 1.3rem;
            margin-left: 30px;
        }
        /* .col3{
            display: flex;
        } */
        .containpro{
            display: flex;
        }
        .pro2 img{
            max-width: 800px;
            min-width: 500px;
        }
        .pro2{
            padding: 10px;
            border: solid transparent;
            margin-left: 25%;
            max-width: 700px;

        }
        .contenaire{
            margin: 10px auto;
        }
        .col2text{
            padding: 10px 10%;
        }
        
       
    }
    
    